<footer>
  <div class="footer-logo">waiflo</div>
  <div class="footer-links">
    <a class="footer-link" href="/#how">{{footer_how}}</a>
    <a class="footer-link" href="/#types">{{footer_types}}</a>
    <a class="footer-link" href="/#quickstart">{{footer_quickstart}}</a>
    <a class="footer-link" href="/blog">{{footer_blog}}</a>
    <a class="footer-link" href="/editor">{{footer_editor}}</a>
    <a class="footer-link" href="https://github.com/jpdesmontils/waiflo" target="_blank">{{footer_github}}</a>
  </div>
  <div class="footer-right">{{footer_copyright}}</div>
</footer>
