<nav>
  <a class="nav-logo" href="/">waiflo <span class="nav-badge">{{nav_badge}}</span></a>
  <div class="nav-links">
    <a class="nav-link" href="/#how">{{nav_how}}</a>
    <a class="nav-link" href="/#quickstart">{{nav_quickstart}}</a>
    <a class="nav-link" href="/blog">{{nav_blog}}</a>
    <a class="nav-link" href="/docs">{{nav_docs}}</a>
    <a class="nav-link" href="https://github.com/jpdesmontils/waiflo" target="_blank">{{nav_github}}</a>
    <a class="nav-cta" href="/login">{{nav_login}}</a>
    <div class="lang-switcher">
      <a href="?lang=en"{{#lang_en}} class="active"{{/lang_en}}>{{lang_en_label}}</a>
      <span class="sep">|</span>
      <a href="?lang=fr"{{#lang_fr}} class="active"{{/lang_fr}}>{{lang_fr_label}}</a>
    </div>
  </div>
</nav>
